doctype html
html
	head
		title=title
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		div(class='login-page')
			div(class='form')
				form(class="login-form",method='POST')
					input(name='name',type="text",placeholder="Enter Username")
					button(type="submit" value="submit") login